<p>user works!</p>

  <div class="submitsp">
      <div>user: {{index_data.user}}</div>
      <div>about: ({{index_data.about}})</div>
  </div>
  <div class="buttons">
      <div (click)=gotoSubmits()> submissions </div>
      <div (click)="gotoComments()"> comments </div>
      <div (click)="gotoFavorites()"> favorites </div>
  </div>
  <hr>
